<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-title>Inicio</ion-title>
      <ion-button></ion-button>
      <ion-button></ion-button>
      <ion-button></ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-button routerLink="/datos-personales" fill="outline">Datos personales</ion-button>
  <ion-button routerLink="/tabs" fill="outline">Tabs</ion-button>
</ion-content>
