<ion-header>
  <ion-toolbar>
    <app-cabecera></app-cabecera>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="aldeanos">
        <ion-icon name="logo-octocat"></ion-icon>
        <ion-label>Aldeanos</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="herramientas">
        <ion-icon name="hammer-outline"></ion-icon>
        <ion-label>Herramientas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="insectos">
        <ion-icon name="bug-outline"></ion-icon>
        <ion-label>Insectos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
